<div class="registration">
    <form>
      <label>Your email</label>
      <input type="text" />
      <p class="error">
        <span>This email exists already in the database</span>
      </p>
  
      <label>Password</label>
      <input type="text" />
      <p class="error">
        <span>At least 8 characters</span>
      </p>
  
      <div class="register_button">
        <span><a href="#">Login</a></span>
      </div>
    </form>
    <span><a routerLink="register">Register</a></span>
    <span><a routerLink="forgetpass">Forget Password?</a></span>
  </div>