<style>
    table{
      color:#000;
    }
    th{
      border:1px solid #eee;
    }
    td{
      border:1px solid #eee;
    }
    tr{
      border:1px solid #eee;
    }
  </style>
  
  
  <h1>List of Posts</h1>
  
  <table>
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
    <tr *ngFor="let post of lstposts">
      <td>{{post.id}}</td>
      <td>{{post.userId}}</td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
    </tr>
    </table>
  
    
