<div class="registration">
    <form [formGroup] = "signUpForm" (ngSubmit)="signUp()">
      <label>Your email</label>
      <input type="text" formControlName="email" required/>
      <p *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || signUpForm.controls['email'].touched)" class="error">
        <span>This email exists already in the database</span>
      </p>
  
      <label>Password</label>
      <input type="text"  formControlName="password" required/>
      <p class="error">
        <span>At least 8 characters</span>
      </p>
  
      <label>Password [repeat]</label>
      <input type="text"  formControlName="repeatpassword" required/>
      <p class="error">
        <span>Some text here</span>
      </p>
  
      <label>Year of Birth</label>
      <select formControlName="birthyear">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option> 
      </select>
      <p class="error">
        <span>Some text here</span>
      </p>
  
      <label>Country</label>
      <select formControlName="country">
        <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
      </select>  
  
      <div class="register_button">
        <span><a href="#">REGISTER</a></span>
      </div>
    </form>
  </div>