<div class="registration">
    <form>
      <label>Your email</label>
      <input type="text" />
      <p class="error">
        <span>This email exists already in the database</span>
      </p>
  
      <label>Password</label>
      <input type="text" />
      <p class="error">
        <span>At least 8 characters</span>
      </p>
  
      <label>Password [repeat]</label>
      <input type="text" />
      <p class="error">
        <span>Some text here</span>
      </p>
  
      <label>Year of Birth</label>
      <input type="text" />
      <p class="error">
        <span>Some text here</span>
      </p>
  
      <label>Country</label>
      <select name="country">
        <option>Country 1</option>
        <option>Country 2</option>
      </select>  
  
      <div class="register_button">
        <span><a href="#">REGISTER</a></span>
      </div>
    </form>
  </div>